.Me {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 1em;
    color: var(--fifth-color);
}

.Me a, .Login {
    color: var(--fifth-color);
}

.Avatar {
    max-height: 30px;
    max-width: 30px;
    margin-left: auto;
}

.Blocks {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

