.MyPosts {
    margin-top: 10px;
}

.Images {
    width: 50px;
}

.Text {
    color: lightsteelblue;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 20px;
    white-space: nowrap
}
