.ErrorMessage {
    color: red;
    font-size: 1rem;
    margin-top: 4px;
}

.Error {
    margin: 10px 0;
    border: 2px solid red;
    display: inline-block;
    padding: .3em;
}

.Label {
    margin-left: 4px;
}

.Field {
    color: var(--fifth-color);
    margin: 8px 0 8px;
}

.InputError {
    border: 2px solid red;
}

.Captcha {
    display: block;
}