.User {
    margin-top: 1rem;
}

.UserButton {
    margin: 1rem 0 2rem;
}

.UserImg {
    width: 100px;
    max-height: 105px;
}

.Name {
    margin-bottom: .6rem;
}

.Status {
    margin-bottom: .2rem;
}