.MyPosts {
    margin-bottom: 1.5rem;
}

.Images {
    width: 50px;
}

.Text {
    color: var(--fourth-color);
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 20px;
    white-space: nowrap;
    margin-bottom: .3rem;
}
