.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
	"h h"
	"n c";
}

.app-wrapper-content {
  grid-area: c;
  background-color: slateblue;
  margin-top: 10px;
  padding: 10px;
}


.Link {
  color: cornflowerblue;
  text-decoration: none;
}

.LinkActive {
  color: lightsteelblue;
}
