.Dialogs {
    color: cornflowerblue;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.Dialog.Active {
    color: lightsteelblue;
}

.Message {
    color: whitesmoke;
}

.Textarea {
    margin-top: 50px;
}

.Button {
    display: block;
}