.Dialogs {
    color: var(--third-color);
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.Dialog.Active {
    color: var(--fourth-color);
}

.Message {
    color: var(--fifth-color);
}

.Textarea {
    margin-top: 50px;
}

.Button {
    display: block;
}